# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Coverage

on: ["push", "pull_request"]

jobs:
  build:

    name: Coverage
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest coverage
        pip install .
    - name: Test with coverage reporting
      run: coverage run --include=bme280pi/* -m pytest test/*
    - name: Export coverage data as LCOV
      run: coverage lcov -o coverage.lcov
    - name: Upload coverage data to Qlty Cloud
      uses: qltysh/qlty-action/coverage@v1
      with:
        oidc: true
        files: lcov:coverage.lcov
